<div class="home-delivery-shipping-info" data-bind="visible: showHomeDeliveryShippingInfo()" style="display: none;">
    <p>
        <span data-bind="i18n:'Please note: We only schedule deliveries to the Netherlands 1 times a month!'"></span>
        <strong data-bind="i18n:'Deliveries in the Netherlands are always scheduled every last Thursday of the month.'"></strong>
    </p>
    <p data-bind="i18n: 'Don\'t want to wait that long? Select a store pickup. You can pick up your order as soon as you have received confirmation from us that your order is ready in our store. We are open from Monday to Thursday from 09.00h to 17.00h and on Friday from 09.00h to 13.00h.'"></p>
</div>

